{% extends '@Gui/Layout/layout.twig' %}

{% set title = 'mollie.title.payment_methods' | trans %}
{% block content %}

    {% set filterButtonText = 'mollie.button.filter_all' %}
    {% set filterButtonValue = 0 %}

    {% if not showOnlyEnabledPaymentMethods %}
        {% set filterButtonText = 'mollie.button.filter_activated' %}
        {% set filterButtonValue = 1 %}
    {% endif %}

    {% if response.isSuccessful %}
    {% set status = response.profile.status %}
    {% set statusClass = 'label-danger' %}
        {% if status == 'verified' %}
            {% set statusClass = 'label-success' %}
        {% endif%}

        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title clearfix">
                    <h2>
                        {{ 'mollie.profile.information' | trans }}
                    </h2>
                </div>
                <div class="ibox-content">
                    <div>
                        {{ 'mollie.profile.id' | trans }}
                        <h4 id="mollie-profile-id" class="badge">
                            {{ response.profile.id }}
                        </h4>
                    </div>
                    <div>
                        {{ 'mollie.profile.status' | trans }}
                        <h4 id="mollie-profile-status" class="badge {{ statusClass }}">
                             {{ status }}
                        </h4>
                    </div>
                    {% if status == 'unverified' or status == 'blocked' %}
                        <h3 id="mollie-error-message">
                            {{ 'mollie.profile.error-message.not-verified' | trans }}
                        </h3>
                    {% endif %}
                </div>
            </div>
        </div>
    {% else %}
        <h3 id="mollie-error-message">
            {{ 'mollie.profile.error-message.generic' | trans }}
        </h3>
    {% endif %}

    <div>
        <a class="btn btn-primary"
           href="/mollie/clear-cache"
        >
            {{ 'mollie.button.clear_cache' | trans }}
        </a>
        <a class="btn btn-primary"
           href="/mollie?showOnlyEnabledPaymentMethods={{ filterButtonValue }}"
        >
            {{ filterButtonText | trans }}
        </a>
    </div>
    {{ mollieTable | raw }}
{% endblock %}
